<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_transparent"
        android:label=" "
        android:roundIcon="@drawable/ic_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransparentWidget">

        <!-- ウィジェット設定アクティビティ -->
        <activity
            android:name=".ConfigActivity"
            android:label="ウィジェット設定"
            android:exported="true"
            android:theme="@style/Theme.TransparentWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ウィジェットプロバイダー -->
        <receiver
            android:name=".TransparentWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.transparentwidget.RECONFIGURE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>
